<a href="https://colab.research.google.com/github/youscd/programmers/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_Python3_Lv_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 230309

## 약수의 합
정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수 solution 을 완성해주세요.

*   n은 0 이상 3000 이하인 정수

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def solution(n):
  answer = 0
  for m in range(1, n+1):
    if n % m == 0:
      answer += m
    else:
      pass

  return answer

In [ ]:
solution(5)

6

## 짝수와 홀수
정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solution을 완성해주세요.

*   num은 int 범위의 정수입니다.
*   0은 짝수입니다.

In [ ]:
def solution(num):
    answer = ''
    if num % 2 == 0:
      answer = "Even"
    else:
      answer = "Odd"
    return answer

In [ ]:
solution(0)

'Even'

## 자릿수 더하기
자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.\
예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

*   N의 범위 : 100,000,000 이하의 자연수

In [ ]:
def solution(N):
    answer = 0
    n = str(N)
    for i in range(len(n)):
      answer += int(n[i])   

    return answer

In [ ]:
solution(987)

24

## 평균 구하기
정수를 담고 있는 배열 arr의 평균값을 return하는 함수, solution을 완성해보세요.

- arr은 길이 1 이상, 100 이하인 배열입니다.
- arr의 원소는 -10,000 이상 10,000 이하인 정수입니다.

In [ ]:
def solution(arr):
    answer = 0
    sum = 0
    for i in range(len(arr)):
      sum += arr[i]
      answer = sum / len(arr)
    return answer

In [ ]:
solution([5,5])

5.0

## 자연수 뒤집어 배열로 만들기
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요.\
예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

- n은 10,000,000,000이하인 자연수입니다.

In [ ]:
def solution(n):
    answer = []
    m = str(n)
    for i in range(len(m)-1, -1, -1):
      answer.append(int(m[i]))

    return answer

In [ ]:
solution(12345)

[5, 4, 3, 2, 1]

## x만큼 간격이 있는 n개의 숫자
함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다.\
다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

- x는 -10000000 이상, 10000000 이하인 정수입니다.
- n은 1000 이하인 자연수입니다.

In [ ]:
def solution(x, n):
    answer = []
    y = 0
    for _ in range(n):
      y += x
      answer.append(y)
    return answer

In [ ]:
solution(-4, 2)

[-4, -8]

## 문자열 내 p와 y의 개수
대문자와 소문자가 섞여있는 문자열 s가 주어집니다.\
s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요.\
'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다.\
단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

- 문자열 s의 길이 : 50 이하의 자연수
- 문자열 s는 알파벳으로만 이루어져 있습니다.

In [ ]:
def solution(s):
  answer = True
  s = s.lower()
  if s.count('p') == s.count('y'):
    answer = True
  else:
    answer = False
  
  return answer

In [ ]:
solution("pPoooyY")

True

## 정수 제곱근 판별
임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.\
n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

- n은 1이상, 50000000000000 이하인 양의 정수입니다.

In [ ]:
def solution(n):
  answer = 0
  x = np.sqrt(n)
  if n == int(x)**2:
    answer = (int(x)+1)**2
  else:
    answer = -1

  return answer

In [ ]:
solution(121)

144

In [ ]:
x = np.sqrt(121)
print(x)
int(x)*2

11.0

22

## 문자열을 정수로 바꾸기
문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

- s의 길이는 1 이상 5이하입니다.
- s의 맨앞에는 부호(+, -)가 올 수 있습니다.
- s는 부호와 숫자로만 이루어져있습니다.
- s는 "0"으로 시작하지 않습니다.

In [ ]:
def solution(s):
  answer = int(S)
  return answer

In [ ]:
int('-1234')

-1234

## 정수 내림차순으로 배치하기
함수 solution은 정수 n을 매개변수로 입력받습니다.\
n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요.\
예를들어 n이 118372면 873211을 리턴하면 됩니다.

- n은 1이상 8000000000 이하인 자연수입니다.

In [ ]:
def solution(n):
    answer = 0
    lst = list(str(n))
    lst.sort(reverse=True)
    answer = int("".join(lst))

    return answer

In [ ]:
solution(118372)

873211

# 230326

## 나머지가 1이 되는 수 찾기
자연수 n이 매개변수로 주어집니다.\
n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return 하도록 solution 함수를 완성해주세요.\
답이 항상 존재함은 증명될 수 있습니다.

- 3 ≤ n ≤ 1,000,000

In [ ]:
def solution(n):
  answer = 2
  
  while n % answer != 1:
    answer += 1
 
  return answer

In [ ]:
print(solution(10))
print(solution(12))

3
11

## 하샤드 수
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.\
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.\
자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

- x는 1 이상, 10000 이하인 정수입니다.

In [ ]:
def solution(x):
  answer = True
  y = list(str(x))
  n = 0

  for i in range(len(y)):
    n += int(y[i])

  if x % n != 0:
    answer = False

  return answer

In [ ]:
print(solution(10))
print(solution(12))
print(solution(11))
print(solution(13))

True
True
False
False

In [ ]:
a = list(str(18))
# print(a[0])
# print(a[1])
# print(int(a[0]) + int(a[1]))

s = 0
for i in range(len(a)):
  s += int(a[i])

print(s)

9

## 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.\
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

- a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
- a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
- a와 b의 대소관계는 정해져있지 않습니다.

In [ ]:
def solution(a, b):
  answer = 0

  if b > a:
    for i in range(a, b+1):
      answer += i

  elif a == b:
    answer = a
    
  elif a > b:
    for i in range(b, a+1):
      answer += i

  return answer

In [ ]:
print(solution(3, 5))
print(solution(3, 3))
print(solution(5, 3))

12
3
12

## 콜라츠 추측
1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

```
1-1. 입력된 수가 짝수라면 2로 나눕니다. 
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
```

예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다.\
위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요.\
단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

- 입력된 수, num은 1 이상 8,000,000 미만인 정수입니다.

In [ ]:
def solution(num):
  cnt = 0
  
  while num != 1:
    cnt += 1
    if num == 1:
      cnt = 0
    elif num % 2 == 0:
      num = num // 2
    else:
      num = (num*3) + 1
    
  if cnt > 500:
    cnt = -1

  return cnt

In [ ]:
print(solution(6))
print(solution(16))
print(solution(626331))

8
4
-1

## 서울에서 김서방 찾기
String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는\
String을 반환하는 함수, solution을 완성하세요.\
seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

- seoul은 길이 1 이상, 1000 이하인 배열입니다.
- seoul의 원소는 길이 1 이상, 20 이하인 문자열입니다.
- "Kim"은 반드시 seoul 안에 포함되어 있습니다.

In [ ]:
def solution(seoul):
  answer = ''

  for x in range(len(seoul)):
    if seoul[x] == "Kim":
      answer = f'김서방은 {x}에 있다'
    else:
      continue
      
  return answer

In [ ]:
solution(["Jane", "Kim"])

'김서방은 1에 있다'

## 나누어 떨어지는 숫자 배열
array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.\
divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

- arr은 자연수를 담은 배열입니다.
- 정수 i, j에 대해 i ≠ j 이면 arr[i] ≠ arr[j] 입니다.
- divisor는 자연수입니다.
- array는 길이 1 이상인 배열입니다.

In [ ]:
def solution(arr, divisor):
  answer = []

  for i in range(len(arr)):
    if arr[i] % divisor == 0:
      answer.append(arr[i])
    else:
      pass

  if len(answer) == 0:
    answer.append(-1)

  return sorted(answer)

In [ ]:
print(solution([5, 9, 7, 10], 5))
print(solution([2, 36, 1, 3], 1))
print(solution([3, 2, 6], 10))

[5, 10]
[1, 2, 3, 36]
[-1]

## 핸드폰 번호 가리기
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.\
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

- phone_number는 길이 4 이상, 20이하인 문자열입니다.

In [ ]:
def solution(phone_number):
  answer = ''

  lng = len(phone_number)
  answer = '*' * (lng-4)
  answer += phone_number[-4:]

  return answer

In [ ]:
print(solution("01033334444"))
print(solution("027778888"))

*******4444
*****8888

## 음양 더하기
어떤 정수들이 있습니다.\
이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와\
 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다.\
실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

- absolutes의 길이는 1 이상 1,000 이하입니다.
  - absolutes의 모든 수는 각각 1 이상 1,000 이하입니다.
- signs의 길이는 absolutes의 길이와 같습니다.
  - signs[i] 가 참이면 absolutes[i] 의 실제 정수가 양수임을, 그렇지 않으면 음수임을 의미합니다.

In [ ]:
def solution(absolutes, signs):
    answer = 0
    
    for i in range(len(absolutes)):
      if signs[i] == False:
        absolutes[i] *= -1
      else:
        pass
    
    answer = sum(absolutes)

    return answer

In [ ]:
print(solution([4, 7, 12], [True, False, True]))
print(solution([1, 2, 3], [False, False, True]))

9
0

## 제일 작은 수 제거하기
정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요.\
단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요.\
예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

- arr은 길이 1 이상인 배열입니다.
- 인덱스 i, j에 대해 i ≠ j이면 arr[i] ≠ arr[j] 입니다.

In [ ]:
def solution(arr):
  answer = []

  if len(arr) != 1:
    answer = sorted(arr)[-1:]
  else:
    answer = [-1]

  return answer

In [ ]:
print(solution([4,3,2,1]))
print(solution([10]))

[2, 3, 4]
[-1]

In [ ]:
def solution(arr):

  if len(arr) != 1:
    arr.remove(min(arr))
  else:
    arr = [-1]

  return arr

In [ ]:
print(solution([4,3,2,1]))
print(solution([10]))

[4, 3, 2]
[-1]

## 없는 숫자 더하기
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다.\
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

- 1 ≤ numbers의 길이 ≤ 9
- 0 ≤ numbers의 모든 원소 ≤ 9
- numbers의 모든 원소는 서로 다릅니다.

In [ ]:
def solution(numbers):
  s = 0
  answer = 0

  for i in range(10):
    s += i
  
  answer = s - sum(numbers)

  return answer

In [ ]:
print(solution([1,2,3,4,6,7,8,0]))
print(solution([5,8,4,0,6,7,9]))

14
6

## 가운데 글자 가져오기
단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요.\
단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.

- s는 길이가 1 이상, 100이하인 스트링입니다.

In [ ]:
def solution(s):
  answer = ''
  a = len(s) // 2

  if len(s) % 2 == 0:
    answer = s[a-1:a+1]
  else:
    answer = s[a]

  return answer

In [ ]:
print(solution("abcde"))
print(solution("qwer"))

c
we

## 수박수박수박수박수박수?
길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요.\
예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

- n은 길이 10,000이하인 자연수입니다.

In [ ]:
def solution(n):
  s = '수박' * 10000
  answer = s[:n]

  return answer

In [ ]:
print(solution(3))
print(solution(4))

수박수
수박수박

## 내적
길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다.\
a와 b의 내적을 return 하도록 solution 함수를 완성해주세요.

이때, a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

- a, b의 길이는 1 이상 1,000 이하입니다.
- a, b의 모든 수는 -1,000 이상 1,000 이하입니다.

In [ ]:
def solution(a, b):
  answer = 0

  for i in range(len(a)):
    answer += a[i] * b[i]

  return answer

In [ ]:
print(solution([1,2,3,4], [-3,-1,0,2]))
print(solution([-1,0,1], [1,0,-1]))

3
-2

## 문자열 내림차순으로 배치하기
문자열 s에 나타나는 문자를 큰것부터 작은 순으로 정렬해 새로운 문자열을 리턴하는 함수, solution을 완성해주세요.\
s는 영문 대소문자로만 구성되어 있으며, 대문자는 소문자보다 작은 것으로 간주합니다.

- str은 길이 1 이상인 문자열입니다.

In [ ]:
def solution(s):
  answer = ''
  lst = []

  for i in range(len(s)):
    lst = sorted(s, reverse=True)
    answer += lst[i]

  return answer

In [ ]:
sorted("Zbcdefg", reverse=True)

['g', 'f', 'e', 'd', 'c', 'b', 'Z']

In [ ]:
solution("Zbcdefg")

'gfedcbZ'

In [ ]:
def solution(s):
  answer = ''.join(sorted(s, reverse=True))

  return answer

In [ ]:
solution("Zbcdefg")

'gfedcbZ'

## 약수의 개수와 덧셈
두 정수 left와 right가 매개변수로 주어집니다.\
left부터 right까지의 모든 수들 중에서, 약수의 개수가 짝수인 수는 더하고,\
약수의 개수가 홀수인 수는 뺀 수를 return 하도록 solution 함수를 완성해주세요.

- 1 ≤ left ≤ right ≤ 1,000

In [ ]:
def solution(left, right):
  answer = 0

  for i in range(left, right+1):
    cnt = 0
    for j in range(1, i+1):
      if i % j == 0:
        cnt += 1

    if cnt % 2 == 0:
      answer += i
    else:
      answer -= i

  return answer

In [ ]:
solution(13, 17)

43

# 230327

## 문자열 다루기 기본
문자열 s의 길이가 4 혹은 6이고, 숫자로만 구성되어있는지 확인해주는 함수, solution을 완성하세요.\
예를 들어 s가 "a234"이면 False를 리턴하고 "1234"라면 True를 리턴하면 됩니다.

- s는 길이 1 이상, 길이 8 이하인 문자열입니다.
- s는 영문 알파벳 대소문자 또는 0부터 9까지 숫자로 이루어져 있습니다.

In [ ]:
def solution(s):
  answer = True

  if len(s) in (4, 6) and s.isdigit() == True:
    answer = True
  else:
    answer = False        

  return answer

In [ ]:
print(solution("a234"))
print(solution("1234"))

False
True

## 부족한 금액 계산하기
새로 생긴 놀이기구는 인기가 매우 많아 줄이 끊이질 않습니다.\
이 놀이기구의 원래 이용료는 price원 인데, 놀이기구를 N 번 째 이용한다면 원래 이용료의 N배를 받기로 하였습니다.\
즉, 처음 이용료가 100이었다면 2번째에는 200, 3번째에는 300으로 요금이 인상됩니다.\
놀이기구를 count번 타게 되면 현재 자신이 가지고 있는 금액에서 얼마가 모자라는지를 return 하도록 solution 함수를 완성하세요.\
단, 금액이 부족하지 않으면 0을 return 하세요.

- 놀이기구의 이용료 price : 1 ≤ price ≤ 2,500, price는 자연수
- 처음 가지고 있던 금액 money : 1 ≤ money ≤ 1,000,000,000, money는 자연수
- 놀이기구의 이용 횟수 count : 1 ≤ count ≤ 2,500, count는 자연수

In [ ]:
def solution(price, money, count):
  answer = -1
  total = 0

  for i in range(1, count+1):
    total += i*price

    if (money - total) > 0:
      answer = 0
    else:
      answer = total - money

  return answer

In [ ]:
solution(3, 20, 4)

10

## 행렬의 덧셈
행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.\
2개의 행렬 arr1과 arr2를 입력받아, 행렬 덧셈의 결과를 반환하는 함수, solution을 완성해주세요.

- 행렬 arr1, arr2의 행과 열의 길이는 500을 넘지 않습니다.

In [ ]:
a = [[1,2], [2,3]]
b = [[3,4], [5,6]]
c = [[]]

print(a[0][0] + b[0][0])
print(a[0][1] + b[0][1])
print(a[1][0] + b[1][0])
print(a[1][1] + b[1][1])

4
6
7
9

In [ ]:
def solution(arr1, arr2):
  answer = []
  
  for i in range(len(arr1)):
    arr_sum = []
    for j in range(len(arr1[i])):
      arr_sum.append(arr1[i][j] + arr2[i][j])
    answer.append(arr_sum)

  return answer

In [ ]:
print(solution([[1,2],[2,3]], [[3,4],[5,6]]))
print(solution([[1],[2]], [[3],[4]]))

[[4, 6], [7, 9]]
[[4], [6]]

## 직사각형 별찍기
이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.\
별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

- n과 m은 각각 1000 이하인 자연수입니다.

In [ ]:
n, m = map(int, input().strip().split(' '))

for i in range(m):
  for j in range(n):
    print('*', end='')
  print('')

5 3
*****
*****
*****

In [ ]:
n, m = map(int, input().strip().split(' '))
answer = ('*'*n + '\n')*m
print(answer)

5 3
*****
*****
*****

## 최대공약수와 최소공배수
두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, solution을 완성해 보세요.\
배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다.\
예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.

- 두 수는 1이상 1000000이하의 자연수입니다.

In [ ]:
def solution(n, m):
  answer = []
  
  # 최대공약수
  for i in range(min(n, m), 0, -1):
    if n % i == 0 and m % i == 0:
      answer.append(i)
      break
  
  # 최소공배수
  for j in range(max(n, m), n*m+1):
    if j % n == 0 and j % m == 0:
      answer.append(j)
      break
      
  return answer

In [ ]:
print(solution(3, 12))
print(solution(2, 5))

[3, 12]
[1, 10]

## 같은 숫자는 싫어
배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다.\
이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다.\
단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다.\
예를 들면,


```
arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.
```
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

- 배열 arr의 크기 : 1,000,000 이하의 자연수
- 배열 arr의 원소의 크기 : 0보다 크거나 같고 9보다 작거나 같은 정수

In [ ]:
def solution(arr):
  answer = []
  answer.append(arr[0])

  for i in range(1, len(arr)):
    if arr[i] != arr[i-1]:
      answer.append(arr[i])
      
  return answer

In [ ]:
print(solution([1, 1, 3, 3, 0, 1, 1]))
print(solution([4, 4, 4, 3, 3]))

[1, 3, 0, 1]
[4, 3]

## 3진법 뒤집기
자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후,\
이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.

- n은 1 이상 100,000,000 이하인 자연수입니다.

In [ ]:
def solution(n):
  answer = ''

  while n > 0:
    n, re = divmod(n, 3)   # n을 3으로 나눈 몫과 나머지
    answer += str(re)
    
  return int(answer, 3)    # 3진법으로 구성된 str 형식의 수를 10진법으로 변환

In [ ]:
print(solution(45))
print(solution(125))

7
229

## 이상한 문자 만들기
문자열 s는 한 개 이상의 단어로 구성되어 있습니다. 각 단어는 하나 이상의 공백문자로 구분되어 있습니다.\
각 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 리턴하는 함수, solution을 완성하세요.

- 문자열 전체의 짝/홀수 인덱스가 아니라, 단어(공백을 기준)별로 짝/홀수 인덱스를 판단해야합니다.
- 첫 번째 글자는 0번째 인덱스로 보아 짝수번째 알파벳으로 처리해야 합니다.

In [ ]:
def solution(s):
  answer = ''
  S = s.split(' ')

  for i in range(len(S)):
    for j in range(len(S[i])):
      if j % 2 == 0:
        answer += S[i][j].upper()
      else:
        answer += S[i][j].lower()
    answer += ' '

  return answer[:-1]

In [ ]:
solution("try hello world")

'TrY HeLlO WoRlD'

In [ ]:
s = "try hello world"
s.split(' ')

['try', 'hello', 'world']

In [ ]:
ss = s.split(' ')
' '.join(ss)

'try hello world'

In [ ]:
ss[0][0].upper()
ss

['try', 'hello', 'world']

# 230329

## 예산
S사에서는 각 부서에 필요한 물품을 지원해 주기 위해 부서별로 물품을 구매하는데 필요한 금액을 조사했습니다.\
그러나, 전체 예산이 정해져 있기 때문에 모든 부서의 물품을 구매해 줄 수는 없습니다.\
그래서 최대한 많은 부서의 물품을 구매해 줄 수 있도록 하려고 합니다.

물품을 구매해 줄 때는 각 부서가 신청한 금액만큼을 모두 지원해 줘야 합니다.\
예를 들어 1,000원을 신청한 부서에는 정확히 1,000원을 지원해야 하며, 1,000원보다 적은 금액을 지원해 줄 수는 없습니다.

부서별로 신청한 금액이 들어있는 배열 d와 예산 budget이 매개변수로 주어질 때, 최대 몇 개의 부서에 물품을 지원할 수 있는지 return 하도록 solution 함수를 완성해주세요.

- d는 부서별로 신청한 금액이 들어있는 배열이며, 길이(전체 부서의 개수)는 1 이상 100 이하입니다.
- d의 각 원소는 부서별로 신청한 금액을 나타내며, 부서별 신청 금액은 1 이상 100,000 이하의 자연수입니다.
- budget은 예산을 나타내며, 1 이상 10,000,000 이하의 자연수입니다.

In [ ]:
def solution(d, budget):
  answer = 0
  total = 0
  d.sort()

  for i in range(len(d)):
    total += d[i]
    if total <= budget:
      answer += 1
    else:
      break

  return answer

In [ ]:
print(solution([1,3,2,5,4], 9))
print(solution([2,2,3,3], 10))

3
4

## 시저 암호
어떤 문장의 각 알파벳을 일정한 거리만큼 밀어서 다른 알파벳으로 바꾸는 암호화 방식을 시저 암호라고 합니다.\
예를 들어 "AB"는 1만큼 밀면 "BC"가 되고, 3만큼 밀면 "DE"가 됩니다. "z"는 1만큼 밀면 "a"가 됩니다.\
문자열 s와 거리 n을 입력받아 s를 n만큼 민 암호문을 만드는 함수, solution을 완성해 보세요.

- 공백은 아무리 밀어도 공백입니다.
- s는 알파벳 소문자, 대문자, 공백으로만 이루어져 있습니다.
- s의 길이는 8000이하입니다.
- n은 1 이상, 25이하인 자연수입니다.

In [ ]:
def solution(s, n):
  s = list(s)

  for i in range(len(s)):
    if s[i].isupper():
      s[i] = chr((ord(s[i]) - ord('A') + n) % 26 + ord('A'))
      print("if", s[i])
    elif s[i].islower():
      s[i] = chr((ord(s[i]) - ord('a') + n) % 26 + ord('a'))
      print("elif", s[i])

  return "".join(s)

In [ ]:
solution("AB", 1)

if B
if C

'BC'

In [ ]:
solution("z", 1)

elif a

'a'

In [ ]:
solution("a B z", 4)

elif e
if F
elif d

'e F d'

## 삼총사
한국중학교에 다니는 학생들은 각자 정수 번호를 갖고 있습니다.\
이 학교 학생 3명의 정수 번호를 더했을 때 0이 되면 3명의 학생은 삼총사라고 합니다.\
예를 들어, 5명의 학생이 있고, 각각의 정수 번호가 순서대로 -2, 3, 0, 2, -5일 때, 첫 번째, 세 번째, 네 번째 학생의 정수 번호를 더하면 0이므로 세 학생은 삼총사입니다.\
또한, 두 번째, 네 번째, 다섯 번째 학생의 정수 번호를 더해도 0이므로 세 학생도 삼총사입니다.\
따라서 이 경우 한국중학교에서는 두 가지 방법으로 삼총사를 만들 수 있습니다.

한국중학교 학생들의 번호를 나타내는 정수 배열 number가 매개변수로 주어질 때, 학생들 중 삼총사를 만들 수 있는 방법의 수를 return 하도록 solution 함수를 완성하세요.

- 3 ≤ number의 길이 ≤ 13
- -1,000 ≤ number의 각 원소 ≤ 1,000
- 서로 다른 학생의 정수 번호가 같을 수 있습니다.

In [3]:
def solution(number):
  answer = 0

  for i in range(len(number)-2):
    for j in range(i+1, len(number)-1):
      for k in range(j+1, len(number)):
        if number[i] + number[j] + number[k] == 0:
          print(number[i], number[j], number[k])
          answer += 1

  return answer

In [4]:
solution([-3, -2, -1, 0, 1, 2, 3])

-3 0 3
-3 1 2
-2 -1 3
-2 0 2
-1 0 1

5

In [5]:
from itertools import combinations

def solution(number):
  num_comb = [sum(comb) for comb in list(combinations(number, 3)) if sum(comb) == 0]
  print(num_comb)

  return len(num_comb)

In [6]:
solution([-3, -2, -1, 0, 1, 2, 3])

[0, 0, 0, 0, 0]

5

## 최소직사각형
명함 지갑을 만드는 회사에서 지갑의 크기를 정하려고 합니다.\
다양한 모양과 크기의 명함들을 모두 수납할 수 있으면서, 작아서 들고 다니기 편한 지갑을 만들어야 합니다.\
이러한 요건을 만족하는 지갑을 만들기 위해 디자인팀은 모든 명함의 가로 길이와 세로 길이를 조사했습니다.

아래 표는 4가지 명함의 가로 길이와 세로 길이를 나타냅니다.

![image.png]()

가장 긴 가로 길이와 세로 길이가 각각 80, 70이기 때문에 80(가로) x 70(세로) 크기의 지갑을 만들면 모든 명함들을 수납할 수 있습니다.\
하지만 2번 명함을 가로로 눕혀 수납한다면 80(가로) x 50(세로) 크기의 지갑으로 모든 명함들을 수납할 수 있습니다. 이때의 지갑 크기는 4000(=80 x 50)입니다.

모든 명함의 가로 길이와 세로 길이를 나타내는 2차원 배열 sizes가 매개변수로 주어집니다.\
모든 명함을 수납할 수 있는 가장 작은 지갑을 만들 때, 지갑의 크기를 return 하도록 solution 함수를 완성해주세요.

- sizes의 길이는 1 이상 10,000 이하입니다.
  - sizes의 원소는 [w, h] 형식입니다.
  - w는 명함의 가로 길이를 나타냅니다.
  - h는 명함의 세로 길이를 나타냅니다.
  - w와 h는 1 이상 1,000 이하인 자연수입니다.

In [8]:
def solution(sizes):
  w = []
  h = []

  for i in range(len(sizes)):
    if sizes[i][0] >= sizes[i][1]:
      w.append(sizes[i][0])
      h.append(sizes[i][1])
    else:
      h.append(sizes[i][0])
      w.append(sizes[i][1])

  print(max(w), max(h))
  
  return max(w) * max(h)

In [9]:
print(solution([[60, 50], [30, 70], [60, 30], [80, 40]]))
print(solution([[10, 7], [12, 3], [8, 15], [14, 7], [5, 15]]))
print(solution([[14, 4], [19, 6], [6, 16], [18, 7], [7, 11]]))

80 50
4000
15 8
120
19 7
133

In [10]:
def solution(sizes):
  return max(max(x) for x in sizes) * max(min(x) for x in sizes)

In [11]:
print(solution([[60, 50], [30, 70], [60, 30], [80, 40]]))
print(solution([[10, 7], [12, 3], [8, 15], [14, 7], [5, 15]]))
print(solution([[14, 4], [19, 6], [6, 16], [18, 7], [7, 11]]))

4000
120
133